# Creating a logistic regression to predict Absenteeism

## Import a relevent libraries

In [1]:
import pandas as pd
import numpy as np

## Load the data

In [2]:
data_preprocessed = pd.read_csv('C:/Drive/Udemy-Data Science Course/Part_8_Case_Study/Absenteeism-preprocessed.csv')

In [3]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [4]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > data_preprocessed['Absenteeism Time in Hours'].median(),1,0)

In [6]:
data_preprocessed['Excessive Abesenteeism'] = targets

In [7]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

## A comment on targets

In [8]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [9]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours','Day of the Week','Daily Work Load Average','Distance to Work'],axis=1)

In [10]:
data_with_targets

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Excessive Abesenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

In [11]:
data_with_targets.iloc[:,:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Excessive Abesenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

In [12]:
data_with_targets.iloc[:,:-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [13]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [14]:
from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [15]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler()

In [16]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [17]:
scaled_inputs

array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         0.88046927,  0.26848661],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.91902997, -0.58968976],
       ...,
       [ 1.73205081, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035,  0.26848661]])

In [18]:
scaled_inputs.shape

(700, 11)

# Split the data into train & test and shuffle

## Import the relevent module

In [19]:
from sklearn.model_selection import train_test_split

### Split

In [20]:
train_test_split(scaled_inputs, targets)

[array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976],
        [ 1.73205081, -0.09298136, -0.31448545, ...,  2.23224237,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136,  3.17979734, ..., -0.44798003,
          0.88046927,  0.26848661],
        ...,
        [ 1.73205081, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035,  1.12666297],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
          0.88046927,  2.8430157 ]]),
 array([[-0.57735027, -0.09298136,  3.17979734, ..., -0.44798003,
          0.88046927,  0.26848661],
        [ 1.73205081, -0.09298136, -0.31448545, ..., -0.44798003,
          0.88046927,  0.26848661],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
          2.67996851, -0.58968976],
        ...,
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ...,  2.23224237,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136,  3.17979734, ..., -0.44798003,
         -0.91902997, -0.58968976]]),
 array([0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
        0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0,
        0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
        1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1,
        0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
        1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
        1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
        0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
        0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
        1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
        0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0]),
 array([1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
        1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
        1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
        0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0,
        1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0,
        0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0])]

In [21]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8,random_state = 20)

In [22]:
print(x_train.shape, y_train.shape)

(560, 11) (560,)

In [23]:
print(x_test.shape, y_test.shape)

(140, 11) (140,)

# Logistic regression with sklearn

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

## Training Model

In [25]:
reg = LogisticRegression()

In [26]:
reg.fit(x_train,y_train)

LogisticRegression()

In [27]:
reg.score(x_train,y_train)

0.7857142857142857

### Manually check the accuracy

In [28]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 0])

In [29]:
model_outputs == y_train

array([ True,  True, False,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True, False,  True,  True, False,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True])

In [30]:
np.sum((model_outputs == y_train))

440

In [31]:
model_outputs.shape[0]

560

In [32]:
np.sum((model_outputs == y_train)) / model_outputs.shape[0]

0.7857142857142857

### Finding the intercept and coefficient

In [33]:
reg.intercept_

array([-0.21783203])

In [34]:
reg.coef_

array([[ 2.05335916,  0.3294394 ,  1.55190184,  1.29507765,  0.01972353,
         0.71354973, -0.20234414,  0.33178109, -0.13964122,  0.37829975,
        -0.31915632]])

In [35]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [36]:
feature_name = unscaled_inputs.columns.values

In [37]:
summary_table = pd.DataFrame (columns=['Feature name'],data = feature_name)

summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table

              Feature name  Coefficient
0                 Reason_1     2.053359
1                 Reason_2     0.329439
2                 Reason_3     1.551902
3                 Reason_4     1.295078
4              Month Value     0.019724
5   Transportation Expense     0.713550
6                      Age    -0.202344
7          Body Mass Index     0.331781
8                Education    -0.139641
9                 Children     0.378300
10                     Pet    -0.319156

In [38]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -0.217832
1                 Reason_1     2.053359
2                 Reason_2     0.329439
3                 Reason_3     1.551902
4                 Reason_4     1.295078
5              Month Value     0.019724
6   Transportation Expense     0.713550
7                      Age    -0.202344
8          Body Mass Index     0.331781
9                Education    -0.139641
10                Children     0.378300
11                     Pet    -0.319156

## Interpreting the Coefficient

In [39]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table

              Feature name  Coefficient  Odds_ratio
0                Intercept    -0.217832    0.804261
1                 Reason_1     2.053359    7.794039
2                 Reason_2     0.329439    1.390189
3                 Reason_3     1.551902    4.720439
4                 Reason_4     1.295078    3.651279
5              Month Value     0.019724    1.019919
6   Transportation Expense     0.713550    2.041224
7                      Age    -0.202344    0.816814
8          Body Mass Index     0.331781    1.393448
9                Education    -0.139641    0.869670
10                Children     0.378300    1.459800
11                     Pet    -0.319156    0.726762

In [40]:
summary_table.sort_values('Odds_ratio',ascending=False)

              Feature name  Coefficient  Odds_ratio
1                 Reason_1     2.053359    7.794039
3                 Reason_3     1.551902    4.720439
4                 Reason_4     1.295078    3.651279
6   Transportation Expense     0.713550    2.041224
10                Children     0.378300    1.459800
8          Body Mass Index     0.331781    1.393448
2                 Reason_2     0.329439    1.390189
5              Month Value     0.019724    1.019919
9                Education    -0.139641    0.869670
7                      Age    -0.202344    0.816814
0                Intercept    -0.217832    0.804261
11                     Pet    -0.319156    0.726762

## Testing the Model

In [41]:
reg.score(x_test,y_test)

0.7285714285714285

In [42]:
predict_proba = reg.predict_proba(x_test)
predict_proba

array([[0.75421642, 0.24578358],
       [0.59539901, 0.40460099],
       [0.44630818, 0.55369182],
       [0.76179858, 0.23820142],
       [0.06688666, 0.93311334],
       [0.28110343, 0.71889657],
       [0.29033427, 0.70966573],
       [0.07123589, 0.92876411],
       [0.74646516, 0.25353484],
       [0.75748572, 0.24251428],
       [0.47932748, 0.52067252],
       [0.15449041, 0.84550959],
       [0.03562045, 0.96437955],
       [0.72941793, 0.27058207],
       [0.22637795, 0.77362205],
       [0.50950602, 0.49049398],
       [0.47785384, 0.52214616],
       [0.48522536, 0.51477464],
       [0.3649302 , 0.6350698 ],
       [0.03406205, 0.96593795],
       [0.74196871, 0.25803129],
       [0.76179858, 0.23820142],
       [0.47417247, 0.52582753],
       [0.46828672, 0.53171328],
       [0.15646744, 0.84353256],
       [0.74758115, 0.25241885],
       [0.48984716, 0.51015284],
       [0.89932934, 0.10067066],
       [0.16200698, 0.83799302],
       [0.76179858, 0.23820142],
       [0.60107634, 0.39892366],
       [0.26931688, 0.73068312],
       [0.27282583, 0.72717417],
       [0.4763806 , 0.5236194 ],
       [0.76179858, 0.23820142],
       [0.36294578, 0.63705422],
       [0.74534591, 0.25465409],
       [0.15282243, 0.84717757],
       [0.54463688, 0.45536312],
       [0.36959219, 0.63040781],
       [0.76286852, 0.23713148],
       [0.5279349 , 0.4720651 ],
       [0.74980336, 0.25019664],
       [0.89153361, 0.10846639],
       [0.16403411, 0.83596589],
       [0.31342482, 0.68657518],
       [0.26501399, 0.73498601],
       [0.75964876, 0.24035124],
       [0.75385569, 0.24614431],
       [0.76393514, 0.23606486],
       [0.51614766, 0.48385234],
       [0.93431093, 0.06568907],
       [0.28110343, 0.71889657],
       [0.75929345, 0.24070655],
       [0.1524866 , 0.8475134 ],
       [0.59255064, 0.40744936],
       [0.05301202, 0.94698798],
       [0.74789122, 0.25210878],
       [0.91958204, 0.08041796],
       [0.91914425, 0.08085575],
       [0.28868328, 0.71131672],
       [0.27753721, 0.72246279],
       [0.7445362 , 0.2554638 ],
       [0.15260973, 0.84739027],
       [0.76569814, 0.23430186],
       [0.75530948, 0.24469052],
       [0.98805271, 0.01194729],
       [0.74422342, 0.25577658],
       [0.16094404, 0.83905596],
       [0.72473063, 0.27526937],
       [0.75201249, 0.24798751],
       [0.92185825, 0.07814175],
       [0.08923072, 0.91076928],
       [0.54756446, 0.45243554],
       [0.36842494, 0.63157506],
       [0.76179858, 0.23820142],
       [0.16120686, 0.83879314],
       [0.24242764, 0.75757236],
       [0.27127116, 0.72872884],
       [0.35947344, 0.64052656],
       [0.74869389, 0.25130611],
       [0.98875808, 0.01124192],
       [0.73773874, 0.26226126],
       [0.26012208, 0.73987792],
       [0.51844108, 0.48155892],
       [0.90092198, 0.09907802],
       [0.27635468, 0.72364532],
       [0.46828672, 0.53171328],
       [0.9535092 , 0.0464908 ],
       [0.26931688, 0.73068312],
       [0.83586754, 0.16413246],
       [0.87935618, 0.12064382],
       [0.75202045, 0.24797955],
       [0.75312007, 0.24687993],
       [0.75748572, 0.24251428],
       [0.10730633, 0.89269367],
       [0.75202045, 0.24797955],
       [0.25591464, 0.74408536],
       [0.7582125 , 0.2417875 ],
       [0.83094846, 0.16905154],
       [0.36568101, 0.63431899],
       [0.26931688, 0.73068312],
       [0.27714738, 0.72285262],
       [0.28265812, 0.71734188],
       [0.54610107, 0.45389893],
       [0.55632667, 0.44367333],
       [0.75421642, 0.24578358],
       [0.10730633, 0.89269367],
       [0.22185017, 0.77814983],
       [0.87998127, 0.12001873],
       [0.98888861, 0.01111139],
       [0.06805747, 0.93194253],
       [0.26630366, 0.73369634],
       [0.60531667, 0.39468333],
       [0.3670519 , 0.6329481 ],
       [0.3751126 , 0.6248874 ],
       [0.15205945, 0.84794055],
       [0.13225126, 0.86774874],
       [0.43843551, 0.56156449],
       [0.74309768, 0.25690232],
       [0.75639924, 0.24360076],
       [0.89717048, 0.10282952],
       [0.15526336, 0.84473664],
       [0.5323478 , 0.4676522 ],
       [0.75748572, 0.24251428],
       [0.72708057, 0.27291943],
       [0.76286852, 0.23713148],
       [0.87809757, 0.12190243],
       [0.27517527, 0.72482473],
       [0.74196871, 0.25803129],
       [0.36821734, 0.63178266],
       [0.76286852, 0.23713148],
       [0.75964876, 0.24035124],
       [0.71880123, 0.28119877],
       [0.74341137, 0.25658863],
       [0.37809492, 0.62190508],
       [0.4763806 , 0.5236194 ],
       [0.72355097, 0.27644903],
       [0.7582125 , 0.2417875 ],
       [0.54317193, 0.45682807]])

In [43]:
predict_proba.shape

(140, 2)

In [44]:
predict_proba[:,1]

array([0.24578358, 0.40460099, 0.55369182, 0.23820142, 0.93311334,
       0.71889657, 0.70966573, 0.92876411, 0.25353484, 0.24251428,
       0.52067252, 0.84550959, 0.96437955, 0.27058207, 0.77362205,
       0.49049398, 0.52214616, 0.51477464, 0.6350698 , 0.96593795,
       0.25803129, 0.23820142, 0.52582753, 0.53171328, 0.84353256,
       0.25241885, 0.51015284, 0.10067066, 0.83799302, 0.23820142,
       0.39892366, 0.73068312, 0.72717417, 0.5236194 , 0.23820142,
       0.63705422, 0.25465409, 0.84717757, 0.45536312, 0.63040781,
       0.23713148, 0.4720651 , 0.25019664, 0.10846639, 0.83596589,
       0.68657518, 0.73498601, 0.24035124, 0.24614431, 0.23606486,
       0.48385234, 0.06568907, 0.71889657, 0.24070655, 0.8475134 ,
       0.40744936, 0.94698798, 0.25210878, 0.08041796, 0.08085575,
       0.71131672, 0.72246279, 0.2554638 , 0.84739027, 0.23430186,
       0.24469052, 0.01194729, 0.25577658, 0.83905596, 0.27526937,
       0.24798751, 0.07814175, 0.91076928, 0.45243554, 0.63157506,
       0.23820142, 0.83879314, 0.75757236, 0.72872884, 0.64052656,
       0.25130611, 0.01124192, 0.26226126, 0.73987792, 0.48155892,
       0.09907802, 0.72364532, 0.53171328, 0.0464908 , 0.73068312,
       0.16413246, 0.12064382, 0.24797955, 0.24687993, 0.24251428,
       0.89269367, 0.24797955, 0.74408536, 0.2417875 , 0.16905154,
       0.63431899, 0.73068312, 0.72285262, 0.71734188, 0.45389893,
       0.44367333, 0.24578358, 0.89269367, 0.77814983, 0.12001873,
       0.01111139, 0.93194253, 0.73369634, 0.39468333, 0.6329481 ,
       0.6248874 , 0.84794055, 0.86774874, 0.56156449, 0.25690232,
       0.24360076, 0.10282952, 0.84473664, 0.4676522 , 0.24251428,
       0.27291943, 0.23713148, 0.12190243, 0.72482473, 0.25803129,
       0.63178266, 0.23713148, 0.24035124, 0.28119877, 0.25658863,
       0.62190508, 0.5236194 , 0.27644903, 0.2417875 , 0.45682807])

## Saving the model

In [45]:
import pickle

In [46]:
with open('model','wb') as file:
    pickle.dump(reg,file)